.container.p-1
  %h2= @message
  %br
  %form.form-inline{action: '/search', method: 'get'}
    %input{type: 'text', name: 'anime', class: 'form-control', style: 'width: 80%'}
    %div.pl-2{style: 'width: 20%'}
      %input.w-100{type: 'submit', value: 'Search', class: 'btn btn-primary'}
  %br
  %form.form-inline{action: '/download', method: 'post'}
    %input{type: 'text', name: 'link', class: 'form-control', style: 'width: 80%'}
    %div.pl-2{style: 'width: 20%'}
      %input.w-100{type: 'submit', value: 'Download', class: 'btn btn-primary'}
  %br
  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th Name
        %th Episode
        %th{style: 'width: 170px'} Download
    %tbody
      - @posts.each do |p|
        - link = @puya.open_and_get_link(p.css('a')[0]['href'])
        - next if link.nil?
        - title, chapter = @puya.article_chapter(p.css('a')[0].text)
        %tr
          %td= title
          %td= chapter
          %td
            - if link.include?('puya.si')
              %a{href: "download?link=#{link}&title=#{title}"}
                %img{src: 'http://puya.si/wp-content/uploads/2015/06/mega_1.png', style: 'height: 30px'}
            - else
              %a{href: link}
                %img{src: 'https://avatars2.githubusercontent.com/u/2327604?s=400&v=4', style: 'height: 30px'}
